<%- include ('user/head'); %>
<section class="container p-1 min-vh-100">
  <div class="container">
<h1 class="display-1">Contact</h1>
<p><%= context %></p>
</div>
</section>
<%- include ('user/foot'); %>
  