<%- include ('user/head'); %>
<section class="container min-vh-100 p-1">
  <div class="container">
<h1 class="display-1"><%= postTitle %> </h1>
  <p> <%= postContent %> </p>
  </div>
</section>
<%- include ('user/foot'); %>
