<footer class="d-flex flex-wrap justify-content-around align-items-center py-1 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class=" mb-md-0 text-body-secondary"><a href="https://codeliterature.netlify.app">© 2023 CodeLiterature</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/codeliterature"><i class="bi fa-brands fa-github" width="24" height="24"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/codeliterature"><i class="bi fa-brands fa-x-twitter" width="24" height="24"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://instagram.com/codeliterature"><i class="bi fa-brands fa-instagram" width="24" height="24"></i></a></li>
    </ul>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>